Package: com.maximehip.dontoff
Name: DontOff
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: maximehip
Author: maximehip
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.maximehip.libauthenticate
